---
/**
 * @license
 * Copyright (c) 2022 Jozef Steinhübl
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 */

import { site } from "virtual:cfg";
import Container from "../../components/atoms/Container.astro";
import Navbar from "../../components/widgets/Navbar.astro";
import Layout from "../../layouts/Layout.astro";

const { item } = Astro.props;

const url = Astro.url.pathname;
---

<Layout
  description={item.frontmatter.title}
  date={item.frontmatter.date}
  url={`${site}${url}`}
>
  <Navbar />
  <div class="w-full py-32">
    <div class="flex flex-col text-center gap-2">
      <h1 class="text-5xl font-extrabold text-white">
        {item.frontmatter.title}
      </h1>
      <h2 class="text-2xl font-semibold text-white text-opacity-40">
        {
          new Date(item.frontmatter.date).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </h2>
    </div>
  </div>

  <Container class="prose prose-invert content-center justify-center text-2xl">
    <article>
      <slot />
    </article>
  </Container>
</Layout>
