---
import LeftSidebar from "../../components/widgets/docs/LeftSidebar.astro";
import RightSidebar from "../../components/widgets/docs/RightSidebar.astro";
import Navbar from "../../components/widgets/Navbar.astro";
import Layout from "../../layouts/Layout.astro";

const { item } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
---

<Layout
  title={`Docs - ${item.frontmatter.title}`}
  description={item.frontmatter.description}
  url={`https://xhyrom.dev${item.url}`}
>
  <Navbar />

  <div class="grid grid-cols-4 md:grid-cols-12">
    <div
      class="md:col-span-3 flex flex-row md:sticky md:top-0 md:h-screen md:pt-4"
    >
      <div class="ml-auto">
        <LeftSidebar currentPage={currentPage} />
      </div>
    </div>
    <main
      class="container mx-auto px-4 col-span-4 md:col-span-6 overflow-auto py-12"
    >
      <div>
        <article id="article" class="content">
          <section class="break-all main-section prose prose-invert max-w-none">
            <nav class="block sm:hidden"></nav>
            <slot />
          </section>
        </article>
      </div>
    </main>
    <div
      class="col-span-3 flex flex-row md:sticky md:top-0 md:h-screen md:pt-4"
    >
      <RightSidebar item={item} />
    </div>
  </div>
</Layout>

<script>
  import "../../scripts/sidebarToggle.js";
</script>
