---
export interface Props {
  label: string;
  link?: string;
  icon?: string;
  iconClass?: string;
  iconPosition?: "left" | "right";
  type: "primary" | "secondary";
  disabled?: boolean;
}

const {
  label,
  link,
  icon,
  iconClass: iconClassOriginal,
  iconPosition,
  type,
  disabled,
} = {
  iconPosition: "right",
  disabled: false,
  iconClass: "",
  ...Astro.props,
};

const classPrimary = (disabled: boolean) =>
  `bottom-0 inline-flex w-fit rounded-md bg-neutral-800 ${
    disabled && "cursor-not-allowed bg-opacity-80"
  } px-6 py-2 text-neutral-300 transition-colors ${
    disabled ? "" : "hover:bg-neutral-700"
  } duration-100 [&_img]:transition-all ${
    iconPosition === "left"
      ? "[&_img]:hover:translate-x-[-2px]"
      : "[&_img]:hover:translate-x-[2px]"
  }`;

const classSecondary = (disabled: boolean) =>
  `bottom-0 inline-flex w-fit translate-y-[6px] px-6 py-2 ${
    disabled && "cursor-not-allowed"
  } text-neutral-300 transition-all duration-100 hover:-translate-y-[-4px] hover:text-neutral-200`;

const iconClass =
  iconPosition === "left"
    ? `mr-2 h-6 w-5 ${iconClassOriginal}`
    : `ml-2 mt-[1px] h-[23px] w-5 ${iconClassOriginal}`;
---

{
  type === "primary" ? (
    link ? (
      <a href={link} class={classPrimary(disabled)}>
        {iconPosition === "left" && icon && (
          <img src={icon} class={iconClass} alt="" />
        )}
        {label}
        {iconPosition === "right" && icon && (
          <img src={icon} class={iconClass} alt="" />
        )}
      </a>
    ) : (
      <button class={classPrimary(disabled)}>
        {iconPosition === "left" && icon && (
          <img src={icon} class={iconClass} alt="" />
        )}
        {label}
        {iconPosition === "right" && icon && (
          <img src={icon} class={iconClass} alt="" />
        )}
      </button>
    )
  ) : link ? (
    <a href={link} class={classSecondary(disabled)}>
      {iconPosition === "left" && icon && (
        <img src={icon} class={iconClass} alt="" />
      )}
      {label}
      {iconPosition === "right" && icon && (
        <img src={icon} class={iconClass} alt="" />
      )}
    </a>
  ) : (
    <button class={classSecondary(disabled)}>
      {iconPosition === "left" && icon && (
        <img src={icon} class={iconClass} alt="" />
      )}
      {label}
      {iconPosition === "right" && icon && (
        <img src={icon} class={iconClass} alt="" />
      )}
    </button>
  )
}
