---
/**
 * @license
 * Copyright (c) 2022 Jozef Steinhübl
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 */

import Container from "@components/atoms/Container.astro";
import Navbar from "@components/widgets/Navbar.astro";
import TechIcon from "@components/widgets/TechIcon.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import me from "@assets/me.png";
import { AGE, SKILLS } from "~/config";
import { Icon } from "astro-icon/components";
---

<Layout
  title="about me"
  schemaOrg={{
    "@context": "https://schema.org/",
    "@type": "Person",
    name: "xhyrom",
    url: "https://xhyrom.dev",
    image: "https://xhyrom.dev/favicon.ico",
    sameAs: [
      "https://twitter.com/hyrousek",
      "https://instagram.com/hyro.dev",
      "https://github.com/xHyroM",
      "https://ko-fi.com/xhyrom",
      "https://www.chess.com/member/Hyriik",
      "https://reddit.com/u/xHyroM",
      "https://wakatime.com/@xhyrom",
    ],
    jobTitle: "Software Engineer",
  }}
>
  <Navbar />
  <h1
    class="w-full py-20 lg:py-32 text-center text-5xl font-extrabold text-white"
  >
    About Me
  </h1>

  <Container class="pb-4">
    <main class="text-2xl text-white">
      <section class="flex flex-col lg:flex-row items-center gap-8">
        <Image
          src={me}
          width={375}
          alt="me"
          draggable={false}
          class="rounded-full h-[250px] w-[250px] flex-shrink-0"
        />

        <div>
          <p class="mb-4">
            Hey, my name is <span class="text-gold-500">Jozef Steinhübl</span> ("bl"
            - not "bel", I'm not a bell), but online you'll probably find me as <span
              class="text-gold-500">Hyro or xhyrom</span
            >. I'm a <span class="text-gold-500">{AGE}</span> years old developer
            who's been fascinated with building things with code since I was ten.
            I love coming up with creative, efficient and useful solutions to problems.
          </p>

          <p>
            I believe that the best technology is open and accessible, which is
            why much of my work is open-source and available on <a
              class="text-gold-500"
              href="https://github.com/xhyrom">GitHub</a
            >. I enjoy contributing to projects used by others as well as
            building custom tools. You can explore some of my proudest work on
            the <a class="text-gold-500" href="/projects">Projects</a> page.
          </p>
        </div>
      </section>

      <section class="my-16">
        <h2 class="w-full mb-8 text-center text-4xl font-extrabold text-white">
          Highlights
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center text-xl">
          <div
            class="bg-neutral-900/50 border border-neutral-800 rounded-lg p-6 flex flex-col items-center justify-start"
          >
            <Icon
              name="fluent-emoji-flat:trophy"
              class="w-16 h-16 mb-4 text-gold-500"
            />
            <p class="font-bold text-gold-500">
              Correspondence Seminar in Informatics (KSI)
            </p>
            <p class="text-neutral-400">
              Achieved 1st Place in the 2024/2025 Season
            </p>
          </div>
          <div
            class="bg-neutral-900/50 border border-neutral-800 rounded-lg p-6 flex flex-col items-center justify-start"
          >
            <Icon
              name="fluent-emoji-flat:trophy"
              class="w-16 h-16 mb-4 text-gold-500"
            />
            <p class="font-bold text-gold-500">Zenit in Programming</p>
            <p class="text-neutral-400">
              National Round Winner 2024/2025 (Cat. B)
            </p>
          </div>
          <div
            class="bg-neutral-900/50 border border-neutral-800 rounded-lg p-6 flex flex-col items-center justify-start"
          >
            <Icon
              name="fluent-emoji-flat:3rd-place-medal"
              class="w-16 h-16 mb-4 text-gold-500"
            />
            <p class="font-bold text-gold-500">Tour de App</p>
            <p class="text-neutral-400">3rd Place in the 2024/2025 Finals</p>
          </div>
        </div>
      </section>

      <section>
        <h2 class="w-full py-10 text-center text-4xl font-extrabold text-white">
          My Toolkit
        </h2>

        <div class="mb-4">
          <p class="mb-6">
            These are the tools and technologies I use to bring ideas to life.
            My toolbox is always expanding as I love to explore new things, but
            these are my current go-tos.
          </p>

          <ul
            class="mx-auto mb-4 flex w-fit flex-wrap items-center justify-center rounded-md border border-neutral-800"
          >
            {
              SKILLS.map((skill) => (
                <TechIcon
                  icon={skill.icon}
                  color={skill.color}
                  name={skill.name}
                />
              ))
            }
          </ul>
        </div>
      </section>
    </main>
  </Container>
</Layout>
