---
import SEOEmbed from "@components/widgets/SEOEmbed.astro";

const { title, description, keywords, schemaOrg } = {
  title: "xHyroM",
  description: "I'm Hyro :) o/",
  keywords: "xhyrom developer dev hyro hyrousek hyriik",
  ...Astro.props,
};
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    <SEOEmbed {...Astro.props} />

    <!-- CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="img-src 'self'; font-src *; style-src 'self' 'unsafe-inline' fonts.googleapis.com; script-src 'self' 'unsafe-inline'; object-src 'none'"
    />

    {
      schemaOrg && (
        <script
          type="application/ld+json"
          set:html={JSON.stringify(schemaOrg)}
        />
      )
    }
  </head>
  <body class="overflow-x-hidden snow-container bg-dark-900 font-sans">
    <slot />

    <script>
      import "@scripts/menu.ts";
      import "@scripts/snow.js"
    </script>
    <style is:global>
      ::-webkit-scrollbar {
        width: 16px;
      }

      ::-webkit-scrollbar-thumb {
        border: 6px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: #aaaaaa;
      }
    </style>
  </body>
</html>
